<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulsee.dabai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dabai">
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.tutorials.WIFIConnectionTutorialActivity" />
        <activity
            android:name=".ui.map.CreateMapActivity" />
        <activity
            android:name="com.ulsee.dabai.ui.main.MainActivity" android:theme="@style/Theme.Dabai.NoActionBar" />
        <activity
            android:name="com.ulsee.dabai.ui.main.robot.RobotListActivity" />
        <activity
            android:name="com.ulsee.dabai.ui.main.map.MapListActivity" />
        <activity
            android:name="com.ulsee.dabai.ui.main.task.TaskListActivity" />
        <activity
            android:name=".ui.map.ExploreActivity" android:screenOrientation="portrait" />

    </application>

</manifest>